.postside{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /* overflow-y: scroll; */
}
.profile-images{
    height: 25rem;
}
.profile-img{
  height: 15rem;
  width: 15rem;
  bottom: -7.5rem;
  left: calc(50% - 7.5rem);
}
.profile-name{
    margin-top: 8.5rem;
}
.new-share{
    overflow: scroll;
}
.profile-box{
    min-height: 52rem;
}